<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Park Search", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <%= form_tag :parks, method: :get, class: "form-inline" do %>
        <div class="form-group search-field">
          <%= select_tag :state, options_for_select(us_states) %>
          <%= submit_tag "Find Parks", class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>
